

body {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    rgba(153, 33, 232),
    rgba(95, 114, 190)
  );
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

